@import "variables";

/** center **/
.text-center{
    text-align: center;
  }
  
/** bg **/
.bg-blue {
  background-color: #409EFF;
  }
.bg-success {
  background-color: #67C23A;
}
.bg-warning {
  background-color: #EB9E05;
}
.bg-danger {
  background-color: #FA5555;
}
.bg-info {
  background-color: #878D99;
}


.bg-black {
  background-color: #1f2d3d;
}
.bg-black-light {
  background-color: #324057;
}
.bg-black-lighter {
  background-color: #475669;
}

.bg-silver {
  background-color: #8492a6;
}
.bg-silver-light {
  background-color: #99a9bf;
}
.bg-silver-lighter {
  background-color: #c0ccda;
}

.bg-gray {
  background-color: #d3dce6;
}
.bg-gray-light {
  background-color: #e5e9f2;
}
.bg-gray-lighter {
  background-color: #eff2f7;
}

.bg-white-dark {
  background-color: #f9fafc;
}

.color-gray {
  color: #5e6d82;
}
  